# Common DataFrame methods

This lesson introduces the common `DataFrame` methods that
we will repeatedly use in the course. 

This first cell load data for use in this lesson.

In [1]:
# Setup: Load prices
import pandas as pd
prices = pd.read_hdf("data/dataframes.h5", "prices")
sep_04 = pd.read_hdf("data/dataframes.h5", "sep_04")
goog = pd.read_hdf("data/dataframes.h5", "goog")
returns = prices.pct_change().dropna()
spy_returns = returns.SPY
aapl_returns = returns.AAPL
goog_returns = returns.GOOG

## Problem: Constructing portfolio returns

Compute the return of a portfolio with weight $\frac{1}{3}$ in each security using
multiplication (`*`) and `.sum()`.

**Note**: You need to use the `axis` keyword for the sum.

In [2]:
import numpy as np

w = np.ones(3) / 3
weighted_rets = returns * w
port_ret = weighted_rets.sum(axis=1)
port_ret

2018-05-09   -0.006002
2018-06-09   -0.010768
2018-07-09   -0.005218
2018-10-09   -0.003948
2018-11-09    0.013167
2018-12-09   -0.008176
2018-09-13    0.013609
2018-09-14   -0.004520
2018-09-17   -0.015325
2018-09-18    0.003850
2018-09-19   -0.002537
dtype: float64

## Problem: Compute the Mean and Standard Deviation

Using the function mean, compute the mean of the three returns series one at a time. For example  
```python
goog_mean = goog_returns.mean()
```
Next, compute the mean of the matrix of returns using  

```python
retmean = returns.mean()
```

What is the relationship between these two? Repeat this exercise for the standard deviation (`std()`).

In [3]:
goog_mean = goog_returns.mean()
spy_mean = spy_returns.mean()
aapl_mean = aapl_returns.mean()
print(spy_mean, aapl_mean, goog_mean)

0.0005157696449953846 -0.0029096851629990942 -0.0046607598305810375

In [4]:
returns.mean()

SPY     0.000516
GOOG   -0.004661
AAPL   -0.002910
dtype: float64

In [5]:
returns.std()

SPY     0.003562
GOOG    0.016113
AAPL    0.008899
dtype: float64

## Problem: Compute Correlation
Compute the correlation of the matrix of returns (`corr()`).

In [6]:
returns.corr()

           SPY      GOOG      AAPL
SPY   1.000000  0.773894  0.883557
GOOG  0.773894  1.000000  0.892719
AAPL  0.883557  0.892719  1.000000

## Problem: Summing all elements

Compute the sum of the columns of returns using `.sum()`. How is this related to the mean computed 
in the previous step?

In [7]:
returns.mean()

SPY     0.000516
GOOG   -0.004661
AAPL   -0.002910
dtype: float64

In [8]:
nobs = returns.shape[0]
returns.sum() / nobs

SPY     0.000516
GOOG   -0.004661
AAPL   -0.002910
dtype: float64

## Problem: Maximum and Minimum Values
Compute the minimum and maximum values of the columns of returns using the `min()` and `max()` commands.

In [9]:
returns.min()

SPY    -0.005294
GOOG   -0.026626
AAPL   -0.014055
dtype: float64

In [10]:
returns.max()

SPY     0.005914
GOOG    0.025283
AAPL    0.010922
dtype: float64

## Problem: Rounding Up, Down and to the Closest Integer

Rounding up is handled by ceil, rounding down is handled by floor and rounding to the closest 
integer is handled by round. Try all of these commands on 100 times returns. For example,  
```python
rounded = (100*returns).round()
``` 

Use `ceil` and `floor` to round up and down, respectively.

In [11]:
rounded = (100*returns).round()
rounded

            SPY  GOOG  AAPL
2018-05-09 -0.0  -1.0  -1.0
2018-06-09 -0.0  -2.0  -1.0
2018-07-09 -0.0  -1.0  -1.0
2018-10-09  0.0  -1.0  -0.0
2018-11-09  0.0   3.0   1.0
2018-12-09  0.0  -1.0  -1.0
2018-09-13  1.0   2.0   1.0
2018-09-14  0.0  -1.0  -0.0
2018-09-17 -1.0  -3.0  -1.0
2018-09-18  1.0   0.0   0.0
2018-09-19  0.0  -1.0  -0.0

In [12]:
ceiled = np.ceil(100*returns)
ceiled

            SPY  GOOG  AAPL
2018-05-09 -0.0  -0.0  -0.0
2018-06-09 -0.0  -1.0  -1.0
2018-07-09 -0.0  -0.0  -0.0
2018-10-09  1.0  -1.0  -0.0
2018-11-09  1.0   3.0   2.0
2018-12-09  1.0  -1.0  -1.0
2018-09-13  1.0   3.0   2.0
2018-09-14  1.0  -1.0  -0.0
2018-09-17 -0.0  -2.0  -1.0
2018-09-18  1.0   1.0   1.0
2018-09-19  1.0  -0.0  -0.0

In [13]:
floored = np.floor(100*returns)
floored

            SPY  GOOG  AAPL
2018-05-09 -1.0  -1.0  -1.0
2018-06-09 -1.0  -2.0  -2.0
2018-07-09 -1.0  -1.0  -1.0
2018-10-09  0.0  -2.0  -1.0
2018-11-09  0.0   2.0   1.0
2018-12-09  0.0  -2.0  -2.0
2018-09-13  0.0   2.0   1.0
2018-09-14  0.0  -2.0  -1.0
2018-09-17 -1.0  -3.0  -2.0
2018-09-18  0.0   0.0   0.0
2018-09-19  0.0  -1.0  -1.0