# Importing Data

This lesson covers:

* Importing data 
* Converting dates

## Problem: Reading in data with Dates

Read in the files `GS10.csv` and `GS10.xls` which have both been downloaded
from [FRED](https://fred.stlouisfed.org/).

In [14]:
import pandas as pd
pd.read_csv("data/GS10.csv",index_col = "DATE", parse_dates=True)

            GS10
DATE
1953-04-01  2.83
1953-05-01  3.05
1953-06-01  3.11
1953-07-01  2.93
1953-08-01  2.95
...          ...
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63

[797 rows x 1 columns]

In [12]:
pd.read_excel("data/GS10.xls",skiprows=10)

    observation_date  GS10
0         1953-04-01  2.83
1         1953-05-01  3.05
2         1953-06-01  3.11
3         1953-07-01  2.93
4         1953-08-01  2.95
..               ...   ...
792       2019-04-01  2.53
793       2019-05-01  2.40
794       2019-06-01  2.07
795       2019-07-01  2.06
796       2019-08-01  1.63

[797 rows x 2 columns]

## Problem: Converting Dates

1. Load the CSV file without converting the dates in `read_csv`.
2. Convert the date column, remove it from the DataFrame, and set it as the
   index.

In [25]:
g = pd.read_csv("data/GS10.csv")
dates = g.DATE
dates = pd.to_datetime(dates)
g.index = dates
del g["DATE"]
g

            GS10
DATE
1953-04-01  2.83
1953-05-01  3.05
1953-06-01  3.11
1953-07-01  2.93
1953-08-01  2.95
...          ...
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63

[797 rows x 1 columns]

In [30]:
g10 = pd.read_csv("data/GS10.csv")
dates = g10.pop("DATE")
dates = pd.to_datetime(dates)
g10.index = dates
g10

            GS10
DATE
1953-04-01  2.83
1953-05-01  3.05
1953-06-01  3.11
1953-07-01  2.93
1953-08-01  2.95
...          ...
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63

[797 rows x 1 columns]

## Exercises

### Exercise: Selectively Load Columns

1. Load the data in `data/fred-md.csv` in the columns sasdate,
   RPI and INDPRO using the `usecols` keyword.
2. Remove the first row by selecting the second to the end.
3. Convert sasdate to dates
4. Set sasdate as the index and remove it from the `DataFrame`.

### Exercise: Load and Merge multiple Sheets

1. Load the data on the sheet "Long Mat" in the Excel file "data/exercise.xlsx". 
   These are 10 and 20 year constant maturity yields.
2. Load the data on the sheet "Short Mat" in the Excel file "data/exercise.xlsx".
   These are 1 and 3 year constant maturity yields.
3. Combine the columns in the two `DataFrame`s by creating a dictionary of the keys in
   each with the values equal to the column names.