# Numeric Indexing of DataFrames

This lesson covers:

* Accessing specific elements in DataFrames using numeric indices

Accessing elements in a DataFrame is a common task. To begin this lesson,
clear the workspace set up some vectors and a $5\times5$ array. These vectors
and matrix will make it easy to determine which elements are selected by a
command.

Begin by creating:

* A 5-by-5 DataFrame `x_df` containing `np.arange(25).reshape((5,5))`.
* A 5-element Series `y_s` containing `np.arange(5)`.
* A 5-by-5 DataFrame `x_named` that is `x_df` with columns "c0", "c1", ...,
  "c4" and rows "r0", "r1", ..., "r4".
* A 5-element Series `y_named` with index "r0", "r1", ..., "r4".

In [2]:
import numpy as np
import pandas as pd

x_df = np.arange(25).reshape((5,5))
y_s = np.arange(5)
x_named = pd.DataFrame(x_df, columns=["c0","c1","c2","c3","c4"], index=["r0","r1","r2","r3","r4"])
y_named = pd.Series(y_s, index=["r0","r1","r2","r3","r4"])

## Problem: Picking an Element out of a DataFrame

Using double index notation, select the (0,2) and the (2,0) element of
`x_named`.

In [3]:
x_named.iloc[0,2]

2

In [6]:
x_named.iloc[2,0]

10

In [7]:
x_named

    c0  c1  c2  c3  c4
r0   0   1   2   3   4
r1   5   6   7   8   9
r2  10  11  12  13  14
r3  15  16  17  18  19
r4  20  21  22  23  24

## Problem: Select Elements from Series

Select the 2nd element of `y_named`.

In [8]:
y_named.iloc[1]

1

## Problem: Selecting Rows as Series

Select the 2nd row of `x_named` using the colon (:) operator.

In [11]:
x_named.iloc[1]

c0    5
c1    6
c2    7
c3    8
c4    9
Name: r1, dtype: int64

## Problem: Selecting Rows as DataFrames

1. Select the 2nd row of `x_named` using a slice so that the selection
   remains a DataFrame.
2. Repeat using a list of indices to retain the DataFrame.

In [12]:
x_named.iloc[1:2] # uses a slice to keep the output as a dataframe

    c0  c1  c2  c3  c4
r1   5   6   7   8   9

In [13]:
x_named.iloc[[1]] # does the same thing, but uses a list of indices

    c0  c1  c2  c3  c4
r1   5   6   7   8   9

## Problem: Selecting Entire Columns as Series
Select the 2nd column of `x_named` using the colon (:) operator.

In [14]:
x_named.iloc[:,1]

r0     1
r1     6
r2    11
r3    16
r4    21
Name: c1, dtype: int64

## Problem: Selecting Single Columns as DataFrames
Select the 2nd column of `x_named`  so that the selection remains a DataFrame.

In [17]:
x_named.iloc[:,1:2]

    c1
r0   1
r1   6
r2  11
r3  16
r4  21

In [16]:
x_named.iloc[:,[1]]

    c1
r0   1
r1   6
r2  11
r3  16
r4  21

## Problem: Selecting Specific Columns
Select the 2nd and 3rd columns of `x_named` using a slice.

In [18]:
x_named.iloc[:,1:3]

    c1  c2
r0   1   2
r1   6   7
r2  11  12
r3  16  17
r4  21  22

## Problem: Select Specific Rows

Select the 2nd and 4th rows of `x_named` using a slice.  Repeat the 
selection using a list of integers.

In [19]:
x_named.iloc[1:4:2]

    c0  c1  c2  c3  c4
r1   5   6   7   8   9
r3  15  16  17  18  19

In [20]:
x_named.iloc[[1,3]]

    c0  c1  c2  c3  c4
r1   5   6   7   8   9
r3  15  16  17  18  19

## Problem: Select arbitrary rows and columns

Combine the previous selections to the 2nd and 3rd columns and the 2nd and 4th rows
of `x_named`. 

**Note**: This is the only important difference with NumPy.  Arbitrary
row/column selection using `DataFrame.iloc` is simpler but less flexible.

In [21]:
x_named.iloc[[1,3],[1,2]]

    c1  c2
r1   6   7
r3  16  17

In [22]:
x_named.iloc[1:4:2,1:3]

    c1  c2
r1   6   7
r3  16  17

## Problem: Mixed selection

Select the columns c1 and c2 and the 1st, 3rd and 5th row.

In [26]:
x_named.loc[:,["c1","c2"]].iloc[[0,2,4]]

    c1  c2
r0   1   2
r2  11  12
r4  21  22

## Problem: Mixed selection 2

Select the rows r1 and r2 and the 1st, 3rd and final column.

In [33]:
x_named.iloc[:,[0,2,4]].loc[["r1","r2"]]

    c0  c2  c4
r1   5   7   9
r2  10  12  14

## Exercises

### Exercise: Select fixed length block

Compute the mean return of the momentum data in the first 66
observations and the last 66 observations.

In [34]:
# Setup: Load the momentum data

import pandas as pd

momentum = pd.read_csv("data/momentum.csv", index_col="date", parse_dates=True)
momentum.head()

            mom_01  mom_02  mom_03  mom_04  ...  mom_07  mom_08  mom_09  mom_10
date                                        ...
2016-01-04    0.67   -0.03   -0.93   -1.11  ...   -1.40   -2.08   -1.71   -2.67
2016-01-05   -0.36    0.20   -0.37    0.28  ...   -0.22    0.25    0.29    0.13
2016-01-06   -4.97   -2.33   -2.60   -1.16  ...   -1.15   -1.46   -1.14   -0.45
2016-01-07   -4.91   -1.91   -3.03   -1.87  ...   -2.70   -2.31   -2.36   -2.66
2016-01-08   -0.40   -1.26   -0.98   -1.26  ...   -0.96   -1.42   -0.94   -1.32

[5 rows x 10 columns]

In [36]:
momentum.iloc[:66].mean()

mom_01    0.124545
mom_02    0.100455
mom_03    0.062879
mom_04    0.035758
mom_05    0.067424
mom_06    0.055455
mom_07   -0.030455
mom_08   -0.051061
mom_09   -0.020606
mom_10   -0.045909
dtype: float64

In [38]:
momentum.iloc[-66:].mean()

mom_01    0.089545
mom_02    0.045606
mom_03    0.110303
mom_04    0.087576
mom_05    0.095303
mom_06    0.163485
mom_07    0.121818
mom_08    0.168485
mom_09    0.131818
mom_10    0.096364
dtype: float64

In [39]:
momentum.iloc[-66:].tail()

            mom_01  mom_02  mom_03  mom_04  ...  mom_07  mom_08  mom_09  mom_10
date                                        ...
2017-12-22    0.24    0.13   -0.07   -0.01  ...   -0.14   -0.16   -0.05   -0.01
2017-12-26    0.89    0.70    0.23   -0.03  ...   -0.14   -0.07    0.14   -0.65
2017-12-27   -0.58   -0.55   -0.27   -0.19  ...    0.18    0.10    0.22    0.36
2017-12-28    0.14    0.23    0.32    0.02  ...    0.30    0.15    0.28    0.29
2017-12-29   -0.42   -0.61   -0.48   -0.57  ...   -0.52   -0.45   -0.70   -0.94

[5 rows x 10 columns]

In [40]:
momentum.tail()

            mom_01  mom_02  mom_03  mom_04  ...  mom_07  mom_08  mom_09  mom_10
date                                        ...
2017-12-22    0.24    0.13   -0.07   -0.01  ...   -0.14   -0.16   -0.05   -0.01
2017-12-26    0.89    0.70    0.23   -0.03  ...   -0.14   -0.07    0.14   -0.65
2017-12-27   -0.58   -0.55   -0.27   -0.19  ...    0.18    0.10    0.22    0.36
2017-12-28    0.14    0.23    0.32    0.02  ...    0.30    0.15    0.28    0.29
2017-12-29   -0.42   -0.61   -0.48   -0.57  ...   -0.52   -0.45   -0.70   -0.94

[5 rows x 10 columns]

### Exercise: Compute values using fraction of sample

Compute the correlation of momentum portfolio 1, 5, and 10 in the first half of
the sample and in the second half.

In [48]:
nobs = momentum.shape[0]
first_half = momentum.iloc[:nobs//2]
second_half = momentum.iloc[nobs//2:]

In [52]:
sub1 = first_half[["mom_01","mom_05","mom_10"]]
sub2 = second_half[["mom_01","mom_05","mom_10"]]

sub1.corr()

          mom_01    mom_05    mom_10
mom_01  1.000000  0.757825  0.445025
mom_05  0.757825  1.000000  0.686656
mom_10  0.445025  0.686656  1.000000

In [53]:
sub2.corr()

          mom_01    mom_05    mom_10
mom_01  1.000000  0.563911  0.341120
mom_05  0.563911  1.000000  0.561871
mom_10  0.341120  0.561871  1.000000